*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

  /*height: 161vh;*/
html{
    font-size: 1.2vw;
	cursor: pointer;
	list-style-type: circle;
	list-style-position: inside;
	width:100%;
	
	
}

.main-body{
  position:relative;
  width: 100%;
  height: 107vw;
  border: 2px solid black;
  
}

.main-body-left{
  display: inline-block;
  position:absolute;
  width:33.4%;
  height: 99.8%;
  margin:1px 0px 1px 2px;
  background-color: #1b3a5e;
  font-size:130%;
  font-weight:550;
  

}

.main-body-left-photo{
  position: relative;
  background-color: white;
  margin: 10% 30% 18% 20%;
  width: 70%;
  height: 18%;
}

.main-body-left-photo img{
	width: 100%;
	height: 100%;
}

.icon{
	width: 3.4rem;
}

.main-body-left-address{
  width: 80%;
  height: 10.9%;
  margin: 0vh 10% 13% 10%;
  color: white;
}

.main-body-left-address-image{
  position:relative;
  left:30%;
  text-align: center;
  width: 40%;
  margin-bottom:1vh;

}

.main-body-left-address-content span{
  display:block;
  position:relative;
  left:22%;
  width: 55%;
  text-align: center;
  font-style: italic;
}


.main-body-left-about{
  width: 50%;
  height: 18%;
  margin: 0vh 10% 15% 25%;
  color:white;
  text-align: center;
}

.main-body-left-about-image{
	margin-bottom:1vh;
}

.main-body-left-about-content{
  text-align:justify;
  font-style: italic;
}

.main-body-left-skills{
  color:white;
  text-align:center;
  width: 80%;
  height: 28.6%;
  margin: 0vh 10% 10% 10%;
}

.main-body-left-skills-image{
	margin-bottom:1vh;
}

.main-body-left-skills-content p{
  width: 40%;
  margin: 0 auto;
}

.highest-skill-length-available{
  background-color:#182336;
  width:60%;
  height: 1rem; 
  margin-left: 20%;
  margin-bottom:1vh;
}

.highest-skill-length-available span{
  display: block;
  background-color: white;
  height: 100%;
}

/*********this  is where the styling of the left section ends*************/
.main-body-right{
  display: inline-block;
  position: absolute;
  left: 33.4%;
  margin:1px 0px 1px 0px;
  width:66.5%;
  height: 99.8%;
  font-family: 'times-new-romans';
  border: 2px solid red;
  
}

.main-body-right-contact-info{
	margin-top:3%;
  
}

.main-body-right-contact-info-name{
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  line-height: 4rem;
  margin-bottom:1vw;
  
}

.main-body-right-contact-info-contacts-contact{
  display: inline-block;
  font-size: 2rem;
  width: 30.4%;
  text-align: center;
}

.main-body-right-contact-info-contacts-account{
  display: block;
  font-size: 2rem;
  text-align: center;
  
}

.main-body-right-work-info{
  margin-top: 5%;
  margin-bottom:5%;
}

.main-body-right-work-info span{
   display: block;
  font-weight: 540;
  font-size: 150%;
  margin-left: 10%;
  
}
.main-body-right-work-info-image{
	margin-bottom:1vh;
  
}

.main-body-right-work-info-content{
  text-align: justify;
 
}

.main-body-right-education{
	position: relative;
  font-size: 120%;
  font-weight: 540;
  overflow: hidden;
  height: 35%;
  margin-bottom:2%;
  
}

.main-body-right-education-image{
	margin-left: 10%;
	margin-bottom:2%;
}

.main-body-right-education-info{
	height: 100%;
	margin-left: 6%;
}

.main-body-right-education-info span{
	position: absolute;
	height: 100%;
  display: inline-block;
  margin: opx;
}

.main-body-right-education-info-dates div{
  margin-bottom: 35%;
}

.main-body-right-education-info-dates div:last-child{
	margin-top: 150%;
}

.main-body-right-education-info-dates{
  width:10%;
  height:35vh;
  
}

.main-body-right-education-info-decoration{
  width: 3%;
  height: 20%;
  left: 15.3%;
  
}

.main-body-right-education-info-decoration-circle{
	width: 90%;
	height: 6%;
	border-radius: 300px;
	border: 2px solid black;
}

.main-body-right-education-info-decoration-rectangle-1{
	position: relative;
	left: 32%;
	width: 10%;
	height: 3.5vw;
	border: 2px solid black;
	background-color: black;
}

.main-body-right-education-info-decoration-rectangle-2{
	position: relative;
	left: 32%;
	width: 10%;
	height: 11vw;
	border: 2px solid black;
	background-color: black;
}


.main-body-right-education-info-content{
   height: 100%;
   left: 18.5%;
  
}

.main-body-right-education-info-content div{
	margin-bottom: 2%;
}

.main-body-right-education-info-content div p:first-child{
	color: #1f4e79;
	font-weight: 600;
}

.main-body-right-extra-skills{
	margin-left: 5%;
	font-size: 120%;
	list-style-position: outside;
	margin-bottom:5%;
}

.main-body-right-extra-skills-points{
	position: relative;
	left: 5%;
	width:90%;
	text-align: justify;	
}


.main-body-right-hobbies{
	position: relative;
	left: 5%;
	width:90%;	
	font-size: 160%;
}



.main-body-right-hobbies img{
	margin-bottom:1vh;
}

.main-body-right-hobbies span{
	display: inline-block;
	position: absolute;
	height: 3%;
	font-weight:541;
	font-size: 130%;
}

.main-body-right-hobbies-right{
	left:23%;
	text-align:center;
}
	
	
	
/*---------------------------------------------------------------*/
/* here is the media query for ipads*/
@media (max-width: 1024px) and (min-height: 1024px){
 html{
    font-size: 22sp;
	cursor: pointer;
	list-style-type: circle;
	list-style-position: inside;
	width:100vw;
	
	
}

.main-body{
  position:relative;
  width: 100%;
  height: 140vh;
  border: 2px solid black;
  
}

.main-body-left{
  display: inline-block;
  position:absolute;
  width:33.4%;
  height: 99.8%;
  margin:1px 0px 1px 2px;
  background-color: #1b3a5e;
  font-size:2.4rem;
  font-weight:500;
  

}

.main-body-left-photo{
  position: relative;
  background-color: white;
  margin: 10% 10% 18% 10%;
  width: 80%;
  height: 18%;
}

.main-body-left-photo img{
	width: 100%;
	height: 100%;
}

.icon{
	width: 3.4rem;
}

.main-body-left-address{
  width: 80%;
  height: 14%;
  margin: 0vh 10% 13% 10%;
  color: white;
}

.main-body-left-address-image{
  position:relative;
  left:30%;
  text-align: center;
  width: 40%;
  margin-bottom:1vh;

}

.main-body-left-address-content span{
  display:block;
  position:relative;
  left:10%;
  width: 80%;
  text-align: center;
}


.main-body-left-about{
  width: 80%;
  height: 25%;
  margin: 0vh 10% 15% 10%;
  color:white;
  text-align: center;
}

.main-body-left-about-image{
	margin-bottom:1vh;
}

.main-body-left-about-content{
  text-align:justify;
  font-style: italic;
}

.main-body-left-skills{
  color:white;
  text-align:center;
  width: 80%;
  height: 29%;
  margin: 0vh 10% 10% 10%;
}

.main-body-left-skills-image{
	margin-bottom:1vh;
}

.main-body-left-skills-content p{
  width: 80%;
  margin: 0 auto;
}

.highest-skill-length-available{
  background-color:#182336;
  width:60%;
  height: 1rem; 
  margin-left: 20%;
  margin-bottom:1vh;
}

.highest-skill-length-available span{
  display: block;
  background-color: white;
  height: 100%;
}

/*********this  is where the styling of the left section ends*************/
.main-body-right{
  display: inline-block;
  position: absolute;
  left: 33.4%;
  margin:1px 0px 1px 0px;
  width:66.5%;
  height: 99.8%;
  font-family: 'times-new-romans';
  border: 2px solid red;
  
}

.main-body-right-contact-info{
	margin-top:3%;
  
}

.main-body-right-contact-info-name{
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 5rem;
  letter-spacing: 0.5rem;
  line-height: 4rem;
  margin-bottom:1vw;
  
}

.main-body-right-contact-info-contacts-contact{
  display: inline-block;
  font-size: 2rem;
  width: 30.4%;
  text-align: center;
}

.main-body-right-contact-info-contacts-account{
  display: block;
  font-size: 2rem;
  text-align: center;
  
}

.main-body-right-work-info{
  margin-top: 5%;
  margin-bottom:5%;
}

.main-body-right-work-info span{
   display: block;
  font-weight: 540;
  font-size: 2.4rem;
  margin-left: 10%;
  
}
.main-body-right-work-info-image{
	margin-bottom:1vh;
  
}

.main-body-right-work-info-content{
  text-align: justify;
 
}

.main-body-right-education{
	position: relative;
  font-size: 2.3rem;
  font-weight: 500;
  overflow: hidden;
  height: 42%;
  margin-bottom:2%;
  
}

.main-body-right-education-image{
	margin-left: 10%;
	margin-bottom:2%;
}

.main-body-right-education-info{
	height: 100%;
	margin-left: 6%;
}

.main-body-right-education-info span{
	position: absolute;
	height: 100%;
  display: inline-block;
  margin: opx;
}

.main-body-right-education-info-dates div{
  margin-bottom: 7.5vw;
}

.main-body-right-education-info-dates div:last-child{
	margin-top: 21vw;
}

.main-body-right-education-info-dates{
  width:18%;
  height:35vh;
  
}

.main-body-right-education-info-decoration{
  width: 5%;
  height: 20%;
  left: 23.2%;
  
}

.main-body-right-education-info-decoration-circle{
	width: 100%;
	height: 5%;
	border-radius: 300px;
	border: 2px solid black;
}

.main-body-right-education-info-decoration-rectangle-1{
	position: relative;
	left: 32%;
	width: 10%;
	height: 10vw;
	border: 2px solid black;
	background-color: black;
}

.main-body-right-education-info-decoration-rectangle-2{
	position: relative;
	left: 32%;
	width: 10%;
	height: 25vw;
	border: 2px solid black;
	background-color: black;
}


.main-body-right-education-info-content{
   height: 100%;
   left: 28%;
  
}

.main-body-right-education-info-content div{
	margin-bottom: 2%;
}

.main-body-right-education-info-content div p:first-child{
	color: #1f4e79;
	font-weight: 600;
}

.main-body-right-extra-skills{
	margin-left: 5%;
	font-size: 2.3rem;
	list-style-position: outside;
	margin-bottom:5%;
}

.main-body-right-extra-skills-points{
	position: relative;
	left: 5%;
	width:90%;
	text-align: justify;	
}


.main-body-right-hobbies{
	position: relative;
	left: 5%;
	width:90%;	
	font-size: 160%;
}



.main-body-right-hobbies img{
	margin-bottom:1vh;
}

.main-body-right-hobbies span{
	display: inline-block;
	position: absolute;
	height: 3%;
	font-weight:541;
	font-size: 130%;
}

.main-body-right-hobbies-right{
	left:23%;
	text-align:center;
}
  
}
 
 
/*   ++++++++++++++++++++++++++++++   */
/*here is the media query for phones*/
@media(max-width:600px){
 html{
	font-family:"times-new-romans";
    font-size: 22sp;
	cursor: pointer;
	list-style-type: circle;
	list-style-position: inside;
	width:100vw;
	
	
}

.main-body{
  position:relative;
  width: 100%;
  height: 120vh;
  border: 2px solid black;
  
}

.main-body-left{
  display: inline-block;
  position:absolute;
  width:33.4%;
  height: 99.8%;
  margin:1px 0px 1px 2px;
  background-color: #1b3a5e;
  font-size:2.5rem;
  font-weight:600;
  letter-spacing:0.05rem;
  

}

.main-body-left-photo{
  position: relative;
  background-color: white;
  margin: 10% 30% 18% 20%;
  width: 70%;
  height: 18%;
}

.main-body-left-photo img{
	width: 100%;
	height: 100%;
}

.icon{
	width: 3.4rem;
}

.main-body-left-address{
  width: 80%;
  height: 14%;
  margin: 0vh 10% 10% 10%;
  color: white;
}

.main-body-left-address-image{
  position:relative;
  left:22%;
  text-align: center;
  width: 40%;
  margin-bottom:1vh;

}

.main-body-left-address-content span{
  display:block;
  position:relative;
  width:80%;
  left:10%;
  text-align: center;
}


.main-body-left-about{
  width: 80%;
  height: 25%;
  margin: 0vh 10% 10% 10%;
  color:white;
  text-align: center;
}

.main-body-left-about-image{
	margin-bottom:1vh;
}

.main-body-left-about-content{
  text-align:justify;
  
}

.main-body-left-skills{
  color:white;
  text-align:center;
  width: 80%;
  height: 32%;
  margin: 0vh 10% 10% 10%;
}

.main-body-left-skills-image{
	margin-bottom:1vh;
}

.main-body-left-skills-content p{
  width: 80%;
  margin: 0 auto;
}

.highest-skill-length-available{
  background-color:#182336;
  width:60%;
  height: 1rem; 
  margin-left: 20%;
  margin-bottom:1vh;
}

.highest-skill-length-available span{
  display: block;
  background-color: white;
  height: 100%;
}

/*********this  is where the styling of the left section ends*************/
.main-body-right{
  display: inline-block;
  position: absolute;
  left: 33.4%;
  margin:1px 0px 1px 0px;
  width:66.5%;
  height: 99.8%;
  border: 1px solid;
  font-family: 'times-new-romans';
  
}

.main-body-right-contact-info{
	margin-top:3%;
  
}

.main-body-right-contact-info-name{
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 5rem;
  letter-spacing: 0.5rem;
  line-height: 4rem;
  margin-bottom:1vw;
  
}

.main-body-right-contact-info-contacts{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.main-body-right-contact-info-contacts-contact:first-child{
	grid-row:2;
}
.main-body-right-contact-info-contacts div{
	font-size: 3rem;
	font-weight: 500;
}

.main-body-right-contact-info-contacts-account{
  display: block;
  font-size: 2rem;
  text-align: center;
  
}

.main-body-right-work-info{
  margin-top: 5%;
  margin-bottom:5%;
}

.main-body-right-work-info span{
   display: block;
  font-weight: 500;
  font-size: 2.5rem;
  margin-left: 10%;
  
}
.main-body-right-work-info-image{
	margin-bottom:1vh;
  
}

.main-body-right-work-info-content{
  text-align: justify;
 
}

.main-body-right-education{
  position: relative;
  font-size: 2.4rem;
  font-weight: 500;
  overflow: hidden;
  height: 40%;
  margin-bottom:2%;
  
}

.main-body-right-education-image{
	margin-left: 10%;
	margin-bottom:2%;
}

.main-body-right-education-info{
	height: 100%;
	margin-left: 6%;
}

.main-body-right-education-info span{
	position: absolute;
	height: 100%;
  display: inline-block;
  margin: opx;
}

.main-body-right-education-info-dates div{
  margin-bottom: 10vw;
}

.main-body-right-education-info-dates div:last-child{
	margin-top: 22.5vw;
}

.main-body-right-education-info-dates{
  width:20%;
  height:35vh;
  
}

.main-body-right-education-info-decoration{
  width: 3%;
  height: 20%;
  left: 25%;
  
}

.main-body-right-education-info-decoration-circle{
	width: 200%;
	height: 5%;
	border-radius: 300px;
	border: 2px solid black;
}

.main-body-right-education-info-decoration-rectangle-1{
	position: relative;
	left: 60%;
	width: 10%;
	height: 13vw;
	border: 2px solid black;
	background-color: black;
}

.main-body-right-education-info-decoration-rectangle-2{
	position: relative;
	left: 60%;
	width: 10%;
	height: 25vw;
	border: 2px solid black;
	background-color: black;
}


.main-body-right-education-info-content{
   height: 100%;
   left: 32%;
  
}

.main-body-right-education-info-content div{
	margin-bottom: 2%;
}

.main-body-right-education-info-content div p:first-child{
	color: #1f4e79;
	font-weight: 600;
}

.main-body-right-extra-skills{
	margin-left: 5%;
	font-size: 2.4rem;
	list-style-position: outside;
	margin-bottom:5%;
}

.main-body-right-extra-skills-points{
	position: relative;
	left: 5%;
	width:90%;
	text-align: justify;	
}


.main-body-right-hobbies{
	position: relative;
	left: 5%;
	width:90%;	
	font-size: 2.5rem;
}



.main-body-right-hobbies img{
	margin-bottom:1vh;
}

.main-body-right-hobbies span{
	display: inline-block;
	position: absolute;
	height: 3%;
	font-weight:541;
	font-size: 130%;
}

.main-body-right-hobbies-right{
	left:30%;
	text-align:center;
}
  
}


@media (max-width: 380px){
	.main-body{
  position:relative;
  width: 100%;
  height: 100vh;
  border: 2px solid black;
  
}
}